<!-- your html code here -->
<p>Hello, I'm contact.html</p>
<p>Eduardo</p>

<div class="form-table">
    <h1>Contact</h1>
    <p>Enter your information below, be as detailed as possible.
    We promise to spam your email with endless ads and the occasional phishing email.</p>
    <div id="form-background">
     <form>
		<div class="form-group1" id="emailsect">
			    <label for="e">Your E-Mail</label>
                <textarea name="comment" form="emailsect" cols="100" rows="2">Enter your E-Mail</textarea>
		</div>
		<div class="form-group2" id="messagesect">
			    <label for="e">Your Message </label>
                <textarea name="comment" form="messagesect" cols="100" rows="2">Enter your Message</textarea>

        </div>
            <div id="button">
			    <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>
    </div>
</div>