<!-- your html code here -->
<p>Hello, I'm the first_heading.html</p>
<p>Jose</p>
<!-- Equal width cols, same on all screen sizes -->
<div class="media">
	<div class="media-body">
		<h1 class="mt-0 mb-1">This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
		Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
		vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
		lacinia congue felis in faucibus.
	</div>
	<img src="../website1/assets/img/1.jpg" class="rounded-circle w-25" alt="...">

</div>
